
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.img_heading_logo {
    max-height: 50px;
    margin-top:5px;
}

#search {
    display: none;
    margin-bottom: 0px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

.section {
    padding-top: 0px;
    padding-bottom: 0px;
}

.bg-body {
    background-image: url("../img/F02.jpg")
}

